*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f7f2ff;
color:#333;
}

/* Header */

header{
display:flex;
justify-content:space-between;
align-items:center;
background:#7b2cbf;
padding:20px 60px;
}

.logo{
color:white;
font-size:28px;
font-weight:bold;
}

nav a{
color:white;
text-decoration:none;
margin:0 15px;
font-size:18px;
}

nav a:hover{
color:#ffd60a;
}

.btn{
background:white;
color:#7b2cbf;
text-decoration:none;
padding:10px 20px;
border-radius:30px;
font-weight:bold;
}

.btn:hover{
background:#ffd60a;
}

/* Hero */

.hero{
display:flex;
justify-content:space-around;
align-items:center;
padding:70px;
}

.left h3{
color:#7b2cbf;
margin-bottom:10px;
}

.left h1{
font-size:55px;
margin-bottom:20px;
}

.left p{
margin-bottom:25px;
font-size:18px;
}

.left button{
background:#7b2cbf;
color:white;
border:none;
padding:15px 35px;
border-radius:30px;
cursor:pointer;
font-size:16px;
}

.left button:hover{
background:#5a189a;
}

.right img{
width:450px;
}

/* Menu */

.menu{
text-align:center;
padding:60px;
}

.menu h2{
font-size:40px;
color:#7b2cbf;
margin-bottom:40px;
}

.cards{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.card{
width:250px;
background:white;
padding:20px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.2);
}

.card img{
width:100%;
border-radius:10px;
}

.card h3{
margin-top:15px;
}

.card p{
color:#7b2cbf;
font-weight:bold;
}

/* About */

.about{
text-align:center;
padding:60px;
background:white;
}

.about h2{
color:#7b2cbf;
margin-bottom:20px;
}

/* Contact */

.contact{
text-align:center;
padding:60px;
}

.contact h2{
color:#7b2cbf;
margin-bottom:20px;
}

.contact input,
.contact textarea{

width:70%;
padding:15px;
margin:10px;
border-radius:8px;
border:1px solid gray;
}

.contact textarea{
height:120px;
}

.contact button{

background:#7b2cbf;
color:white;
border:none;
padding:15px 35px;
border-radius:30px;
cursor:pointer;
}

.contact button:hover{
background:#5a189a;
}

/* Footer */

footer{
background:#7b2cbf;
color:white;
text-align:center;
padding:20px;
}
